/* styles.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    /* font-family: 'Balthazar', serif; */
    font-family: 'Afacad', sans-serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* { margin: 0; padding: 0; outline: 0; }
html,body {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

* {
  box-sizing: border-box;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    /* padding: 0 1em 0 0; */
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    color: inherit;
    text-align: center;
  }

input {
    all: unset;
  }









/* set up css variables */
:root {
    --top-bar-height: 55px; /* Define the top bar height here */
    --select-border: #000000;
    --select-focus: rgb(110, 230, 41);
    --select-arrow: var(--select-border);
    --font-size: 20px;
    --funky-font-color:rgb(0, 0, 0);
    --dark-background-font:rgba(171, 171, 171, 0.918);
}

.loading-overlay {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(32 45 68 / 97%);
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }

  .loading-text {
    position:absolute;
    animation: fadeInOut 3.1s ease; 
    top: 270px;
    color: #2e0024; 
    font-size: 100px; 
    font-weight: bold; 
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
.spinner {
    border: 5px solid #ffffff;
    border-top: 10px solid #f50b73;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  } 

.top-bar {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: var(--top-bar-height);
    overflow: hidden;
    align-items: center;
    background-color: #1a2131;
    color: white;
    box-shadow: inset 0px -7px 20px 0px rgb(33 45 69);
    font-size: var(--font-size);
}

.top-bar img {
    width: 40px;
    height: auto;
    padding: 5px 20px;
}

.top-links {
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-right: auto;
    text-align: center;
}

.top-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px
}

.container {
    display: flex;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: space-between;
    padding-top: 80px;
    position: relative; /* serves as a positioning context for absolutely positioned children */
    pointer-events: none;
    align-items: center;
}

.sidebar {
    position: sticky;
    bottom: 0;
    min-height: calc(100vh - var(--top-bar-height));
    width: 0;
    /* background: linear-gradient(to bottom, #2f273bd6, #000a0af5); */
    /* background: linear-gradient(to bottom, #dfdbe5d6, #000a0af5); */
    background: linear-gradient(to top, #666569f7, rgb(33 45 69));

    box-shadow: 1px 8px 20px 7px #1b2130;
    overflow-y: auto;
    overflow-x: hidden;
    transition: width 0.4s ease;
    /* transition: all 0.5s ease-out; */
}

.sidebar.active {
    width: 300px;
    min-width: 300px;
    max-width: 300px; 
    padding: 0px 15px;
}

.sidebar-top {
    position: relative;
    display: flex;
    color: white;
    font-size: var(--font-size);
    align-items: center;
    margin-top: 10px;
    padding: 10px 0px 10px 20px;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 15px;
    color: #999;
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn-sidebar {
    background-color: #f4f1ffa1;
    box-sizing: border-box;
    /* box-shadow: 2px 0px 5px #002b17f9; */
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    font-size: var(--font-size);
    font-weight: bold; 
    font-family: inherit;
    margin-top: 7px;
}

.sidebar-text {
    margin-left: 10px;
}

.btn-sidebar.rollout-options {
    background-color: #fff9fe52;
    margin-bottom: 1px;
    margin-top: 2px;
    font-weight: normal; 
    margin-left: 0px;
}

.btn-sidebar:hover {
    background-color: rgb(238, 236, 255);
}

.hidden {
    display: none;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height 0.5s ease-out;
}

.visible {
    max-height: 100px; 
    transition: max-height 1s ease-in;
}

#rolloutOptions {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}

#rolloutOptions.visible {
    max-height: 200px; 
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 40;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.overlay-content{
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: space-between;
    position: absolute;
    top: 100px;
    width: 70%;
    transition: width 0.5s ease;
    /* max-width: 70%; */
}

/* html {
    --s: 70px; 
    
    --_g:,#0000 75%,#F67280 0;
    background:
      linear-gradient(-45deg var(--_g)),
      linear-gradient( 45deg var(--_g)) 
       0 calc(var(--s)/2) #355C7D;
    background-size: var(--s) var(--s);
  } */

  body {
	margin: 0;
	padding: 0;
	height: 100vh;
	/* overflow: hidden; */
	--sz: 5px; 
	--sp: 10s; 
	--b1: #3c3532;
	--b2: #1c1b18;
	--b3: #0c0b0a;
	--b4: #0c0b0ae0;
	--c1: #e399ff;
	--ts: 50%/calc(var(--sz) * 17.5) calc(var(--sz) * 29.5);
}

.background-container {
	/* height: 100vh; */
	background:
		/* black shadows */
		radial-gradient(circle at 50% 50%, var(--b4) calc(var(--sz) * 1), #fff0 calc(var(--sz) * 8)) var(--ts),
		radial-gradient(circle at 0% 0%, var(--b4) calc(var(--sz) * 1), #fff0 calc(var(--sz) * 8)) var(--ts),
		radial-gradient(circle at 0% 100%, var(--b4) calc(var(--sz) * 1), #fff0 calc(var(--sz) * 8)) var(--ts),
		radial-gradient(circle at 100% 0%, var(--b4) calc(var(--sz) * 1), #fff0 calc(var(--sz) * 8)) var(--ts),
		radial-gradient(circle at 100% 100%, var(--b4) calc(var(--sz) * 1), #fff0 calc(var(--sz) * 8)) var(--ts),
		/* border bottom */
		conic-gradient(from 90deg at 97.5% 67%, var(--c1) 0 87.5deg, #fff0 88deg 100%) var(--ts), /*repeated*/
		conic-gradient(from 90deg at 97.5% 67%, var(--c1) 0 87.5deg, #fff0 88deg 100%) var(--ts),
		conic-gradient(from 182.5deg at 2.5% 67%, #fff0 0 0deg, var(--c1) 0.5deg 90deg, #fff0 0 100%) var(--ts), /*repeated*/
		conic-gradient(from 182.5deg at 2.5% 67%, #fff0 0 0deg, var(--c1) 0.5deg 90deg, #fff0 0 100%) var(--ts), 
		/* border top */
		conic-gradient(from 270deg at 2.5% 33%, var(--c1) 0 87.5deg, #fff0 88deg 100%) var(--ts), /*repeated*/
		conic-gradient(from 270deg at 2.5% 33%, var(--c1) 0 87.5deg, #fff0 88deg 100%) var(--ts),
		conic-gradient(from 2.5deg at 97.5% 33%, #fff0 0 0deg, var(--c1) 0.5deg 90deg, #fff0 0 100%) var(--ts), /*repeated*/
		conic-gradient(from 2.5deg at 97.5% 33%, #fff0 0 0deg, var(--c1) 0.5deg 90deg, #fff0 0 100%) var(--ts),
		/* bottom */
		conic-gradient(from 116.5deg at 50% 85.5%, var(--b1) 0 127deg, #fff0 0 100%) var(--ts), /*repeated*/
		conic-gradient(from 116.5deg at 50% 85.5%, var(--b1) 0 127deg, #fff0 0 100%) var(--ts), /*repeated*/
		conic-gradient(from 116.5deg at 50% 85.5%, var(--b1) 0 127deg, #fff0 0 100%) var(--ts),
		conic-gradient(from 120deg at 50% 83%, var(--c1) 0 120deg, #fff0 0 100%) var(--ts),
		/* top */
		conic-gradient(from -63.5deg at 50% 14.5%, var(--b1) 0 127deg, #fff0 0 100%) var(--ts), /*repeated*/
		conic-gradient(from -63.5deg at 50% 14.5%, var(--b1) 0 127deg, #fff0 0 100%) var(--ts), /*repeated*/
		conic-gradient(from -63.5deg at 50% 14.5%, var(--b1) 0 127deg, #fff0 0 100%) var(--ts),
		conic-gradient(from -60deg at 50% 17%, var(--c1) 0 120deg, #fff0 0 100%) var(--ts),
		/* central gradient */
		conic-gradient(
			from 0deg at 50% 50%, #fff0 0 2deg, 
			var(--b2) 2.5deg 57.5deg, 
			#fff0 58deg 62.5deg, 
			var(--b1) 63deg 117.5deg, 
			#fff0 118deg 122.5deg, 
			var(--b3) 123deg 177.5deg, 
			#fff0 178deg 182deg, 
			var(--b2) 182.5deg 237.5deg, 
			#fff0 0 242.5deg, 
			var(--b1) 243deg 297.5deg, 
			#fff0 298deg 302.5deg, 
			var(--b3) 303deg 357.5deg,
			#fff0 358deg 360deg
		) var(--ts),
		/* bg */
		var(--c1);
	/* animation: colors var(--sp) linear 0s infinite; */
}

@keyframes colors {
	100% { filter: hue-rotate(360deg); }
}

.content { 
    justify-content: center;
    /* background-color: #38c7db2b; */
    /* background-color: rgba(147, 147, 147, 0.921); */
    /* background: linear-gradient( 60deg, #ffffffcf 5%, #fff 10%, #dfd2f4d9 30%, #e0e0e0 50%, #97bbbeb0 70%, #4d6e6d 80%, #042a29f2 95% ); */
    /* background: linear-gradient( 60deg, #ffffffd6 5%, #fffffff2 10%, #9ebeb9f7 30%, #e0e0e0e0 50%, #97bbbef2 70%, #4d6e6df2 80%, #042a29 95% ); */
    /* background: linear-gradient( 60deg, #ffffffd6 5%, #fffffff2 10%, #c8a5d2f7 30%, #e0e0e0e0 50%, #9a94a6f2 70%, #c7c8cef2 80%, #15042a 95% ); */
    /* background: linear-gradient( 60deg, #ffffffc4 5%, #ffffffe8 10%, #e4dbfff7 30%, #f4f4f4f7 50%, #a097aee0 70%, #c7c8cef2 80%, #5e2142fc 95% ); */
    /* background:rgb(29 29 35 / 98%); */
    background:rgb(32 45 68 / 97%);
    flex: 1; 
    padding: 0px 15px 0px;
    margin: 0;
    text-align: center; 
    align-items: center;
    width: auto;
    height: auto;
    grid-auto-rows: min-content;
    overflow-x: hidden;
    min-height: calc(100vh - var(--top-bar-height));
}

.title-text-container{
    display: grid;
    max-width: 900px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    padding: 20px;
}

.text-box {
    /* width: 30%;  */
    /* border: 1px solid #ccc; */
    padding: 10px;
    box-sizing: border-box;
    color: var(--dark-background-font);
}

.big-text-box {
    position: absolute;
    top: -80px;
    left: -90px;
    z-index: 0; 
    /* font-family: 'Permanent Marker', cursive; */
    pointer-events: none;
  }

.keyword {
    font-size: 220px;
    color: #1602025c;
}

.center-text {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
    margin-top: 20px;
    color: var(--dark-background-font);
}

.motivation-text{
    padding: 10px;
    font-size: var(--font-size);
    color: var(--dark-background-font);
}

.btn {
    padding: 10px 20px; /* upper/lower margin and left/right margin*/
    cursor: pointer;
    border-radius: 10px;
}

.btn-user {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.save-stripe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    /* z-index: 10; */
}

.btn-save {
    font-family: inherit;
    padding: 5px 20px;
    border: 0.2px solid black;
    border-radius: 5px;
    background-color: #f7f6f2c4;
    /* background-color: rgb(255 255 255 / 38%); */
    font-size: larger;
}

.btn-save:hover{
    background-color:  #ff5420;
}

.btn-user a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.btn-time {
    width: 35px;
    justify-content: flex-end;
    padding: 3px 3px;
    background-color: #0000001f;
    transition: background-color 0.3s ease;
    border: 0.8px solid #51515161;
    border-radius: 5px;
    align-items: center;
    white-space: nowrap;
    font-size: var(--font-size);
    font-family: inherit;
    cursor: pointer;
}

.btn-time-group {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    /* margin-left: 20px; */
    padding: 5px;
    gap: 2px;
}

label.btn.btn-time  {
    display: flex;
    flex-direction: column;
}

.time-number {
    font-size: 22px;
    /* font-weight: bold;  */
}

.unit {
    font-size: 15px; 
    /* font-weight: bold;  */
}

input[type="radio"] {
    position: relative;
    height: 4px;
    margin-right: -15px;
    opacity: 0;
}

.btn-time.selected {
    background-color:  #ff5420;
    font-weight: bold;
    color: #000;
}

.btn-time:hover {
    background-color: rgb(255, 151, 91);
    color: #000;
}

select.decorated option:hover {
    box-shadow: 0 0 10px 100px #8e18a8 inset;
}

.btn-confirm {
    background: none; 
    border: none; 
    padding: 0; 
}

.btn-confirm .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 20;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: baseline;
}

.input-container {
    display: flex;
    flex-direction: row;     
    justify-content: center;
    margin-left: 0px;
    padding: 10px 0;
}

.routine-name {
    /* display: grid; */
    padding: 10px 0;
    justify-content: center;
    /* align-items: baseline; */
}

.collapsible-input-container {
    display: grid;
    align-items: center;
    margin-left: 0px;
    padding: 10px;
    overflow: hidden;
}

.collapsible-description,
.collapsible-link {
    display: flex;
    flex-direction: row; 
    justify-content: left;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    padding: 5px
}

textarea{
    max-height: 200px;
    box-sizing: border-box;
    resize: none;
}

.input-box.description{
    width: 100%;
    position: relative;
    /* flex: 1; */
    min-height: 3em;
    max-height: 200px;
    /* resize: vertical; */
    padding: 4px;
    border: 0.1px solid #161616cb;
    outline: none;
    overflow-y: hidden;
}

.input-box.link{
    outline: none;
    width: 100%;
    border-bottom: 0.1px solid #161616cb;
}

.input-box,
.input-box-nr{
    width: auto; 
    /* border: none; */
    border: 1px solid transparent;
    border-bottom: 1px solid #000; 
    outline: none;
    font-size: var(--font-size);
    font-family: inherit;
    background-color: inherit;
    text-align: left;
}

.input-box.exercise-name {
    min-width: 150px;
    width: 100%; 
}

.routine-name .input-container .input-box {
    color: var(--dark-background-font);
    border-bottom: 1px solid #5c5e68;
}

.input-box.disabled {
    border-bottom: none;
}
.input-box.active {
    background-color: #b96b4824;
}

.input-box.empty {
    border: 1px solid transparent;
    border-bottom: 1px solid #000000; 
}
.input-box.disappear {
    border: 1px solid #bd1212d6; 
    background-color: #ff580d29;
    /* border-bottom: 2px solid; */
    /* transition-property: border; */
    transition-duration: 3s;
    transition-timing-function: ease;
}
.input-box.disappear.delayed {
    transition-delay: 1s;
}
.input-box.empty::placeholder {
    color: #c01b1bd6;
}

.input-box.valid-name{
    border: 1px solid transparent; 
}

.select {
    /* width: fit-content; */
    min-width: 11ch;
    max-width: 15ch;
    width: 100%;
    /* padding: 10px 0; */
    font-weight: bold;
    color: var(--funky-font-color);
    /* text-align: center; */
    font-size: var(--font-size);
    cursor: pointer;
    line-height: 1.1;
    /* background-color: inherit; */
    display: grid;
    grid-template-areas: "select";
    align-items: baseline;
    /* margin-left: 10px;  
    margin-right: 30px;  */
}

.exercise-type {
    padding: 10px 0;
}

option {
    background-color: #aaa7b7a1;
  }


select,
.select:after {
    grid-area: select;
}

/* dropdown arrow */
.select:after {
    content: "";
    width: 0.6em;
    height: 0.4em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

.dropdown-button {
    
    padding: 0 10px;
    border: none;
    width: 130px;
    cursor: pointer;
    background-color: inherit;
}

form select:hover {
    /* background-color: rgb(255, 151, 91); */
    font-weight: 700;
}

/* .dropdown-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    display: none;
    top: 100%;
    left: 0;
    width: 128px;
    overflow:visible;
} */

.dropdown-item {
    position: relative;
    /* font-size: 15px; */
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
}

.collapsible {
    /* max-width: fit-content; */
    /* display: grid; */
    /* flex-direction: column;  */
    /* align-items: center;  */
    padding: 0 5px ;
    margin-left: auto;
    position: relative;
}

.btn-collapsible {
    max-width: min-content;
    background: none;
    border: none;
    cursor: pointer;
}

/* .toggle-sidebar-button {
    appearance: none;
} */

.material-symbols-outlined.navbar {
    margin: 0;
    margin-left: auto;
    position: absolute;
    padding: 10px 0;
    top: 60px;
    left: 20px;
    color: #ff5420;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;   
}

.material-symbols-outlined.navbar.active {
    transform: rotate(180deg);
    left: 270px;
    z-index: 3;
}

.collapsible .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 350,
    'GRAD' 0,
    'opsz' 40;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
}

.collapsible .material-symbols-outlined:hover{
    color: #180c73;
    font-variation-settings:
    'FILL' 1,
    'wght' 350,
    'GRAD' 0,
    'opsz' 40;          
}

.btn-collapsible.active .material-symbols-outlined{
    transform: rotate(180deg);
}

.collapsible.open .material-symbols-outlined {
    transform: rotate(180deg);
}

.collapsible-content {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    background-color:  #ffe2e24f;
    margin-top: 0px;
    transition: all 0.6s ease-out;
    border-radius: 8px;

}

.collapsible-content.active {
    visibility: visible;
    max-height: 280px;
    transition: all 0.6s ease-out;
    opacity: 1;
    overflow: visible;
}

/* .collapsible-content {
    display: none;
    opacity: 0;
    max-height: 0;
    background-color:  rgb(49 49 85 / 91%);
    margin-top: 0px;
    transition: all 0.6s ease-out;
}

.collapsible-content.active {
    display: block;
    max-height: 280px;
    transition: all 0.6s ease-out;
    opacity: 1;
    overflow: visible;
} */

/* .collapsible.active + .collapsible-content {
    display: block;
} */

#timeInput{
    width: 40px; 
    margin-left: 4px;
}

.top-right {
    position: absolute;
    top: 50px;
    right: 10px;
}

#myChart {
    font-weight: bold;
    width: 100%;

    /* height: 100vh; */
    /* max-width: 1500px; */
    }

.custom-dataset-label {
    font-weight: bold;
    font-size: 12px;
}

.chart-canvas {
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
    padding: 20px;
    max-height: 500px;
    width: 100%;

}

.overlay-container {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr; */
    margin: 0 auto;
    background-color: #000d2a94;
    /* background-color: rgba(255, 255, 255, 0.9); */
    box-shadow: inset 0px 0px 14px 1px #434750;    
    transition: opacity 2s ease; /* Smooth fade-in/fade-out */
    margin-top: 20px;
    margin-bottom: 20px;
    pointer-events: auto; /* Make it clickable */
    padding: 10px 60px;
    z-index: 1; 
    border-radius: 8px;
    /* max-width: 100%; */
    min-height: 500px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.overlay-stripe { 
    height: fit-content; 
    /* width: ; */
    background: #f4f1ffa1;
    border-radius: 8px;
    align-items: center;
    padding: 0 10px ;   
    overflow: visible;
    color: var(--funky-font-color);
    position: relative;
}

.overlay-stripe:hover {
    /* background: #f4f1ffc2; */
    box-shadow: inset 0px 0px 5px 1px #000000d2;
}

.overlay-stripe.routine {
    cursor: pointer;
}

.overlay-stripe.routine.chosen {
    cursor: default;
}

.overlay-stripe-elements {
    justify-items: center;
}

/* a separating line before the collapsible button */
.overlay-stripe-elements::before {
    content: '';
    position: absolute;
    top: 0%;
    right: 53px;
    bottom: 0;
    width: 2px; 
    background: linear-gradient(to bottom, #a7a0a3, #030c38);
}

.overlay-stripe-elements {
    transition: grid-template-columns 1s, grid-template-rows 1s, column-gap 1.5s, row-gap 1.5s;
}

/* big size window */
@media screen and (min-width: 768px) {
    .overlay-stripe-elements {
        grid-template-columns: repeat(3, 1fr) minmax(0, auto); 
        display: grid;
        gap: 3%;
        /* min-width: min-content; */
        align-items: center;
    }
}

/* smaller window with sidebar */
@media screen and (max-width: 1600px) {
    .overlay-stripe-elements.sidebar-active{
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 0;
        column-gap: 10%;
    }
    .select {
        margin-left: auto;
        display: flex;
    }
    .exercise-name{
        margin-right: auto;
        display: flex;
    }
    .btn-time-group {
        grid-column: span 2; 
    }
    .collapsible{
        grid-column: 3; 
        grid-row: 1 / span 2; 
    }
    /* .stripe-and-collapsible  {
        max-width: 800px;
    } */
    .exercise_form .stripe-container{
        /* width: fit-content; */
        width: auto;
    }
}

/* smaller window without sidebar */
@media screen and (max-width: 1600px) {
    .overlay-stripe-elements.sidebar-inactive{
        grid-template-columns: repeat(3, 1fr) minmax(0, auto); 
        display: grid;
        gap: 3%;
        align-items: center;
    }
    .sidebar-inactive .collapsible{
        grid-column: 4; 
    }
    .sidebar-inactive .btn-time-group {
        grid-column: unset; 
    }
    .sidebar-inactive .select {
        margin-left: unset;
        display: inherit;
    }
    .sidebar-inactive .exercise-name{
        margin-right: unset;
        display: inherit;
    }
}

/* even smaller window without sidebar */
@media screen and (max-width: 1355px) {
    .overlay-stripe-elements.sidebar-inactive{
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 0;
        column-gap: 10%;
    }
    .sidebar-inactive .collapsible{
        grid-column: 3; 
        grid-row: 1 / span 2; 
    }
    .sidebar-inactive .btn-time-group {
        grid-column: span 2; 
    }
    .sidebar-inactive .select {
        margin-left: auto;
        display: flex;
    }
}


/* smallest window with sidebar */
@media screen and (max-width: 1175px) {
    .overlay-stripe-elements.sidebar-active{
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        row-gap: 0;
        column-gap: 2%;
    }
    .select,
    .exercise-name{
        margin-left: unset;
        margin-right: unset;
    }
    .select .exercise-type{
        padding-bottom: 0;
    }
    .btn-time-group {
        grid-column: auto; 
    }
    .collapsible{
        grid-column: 2; 
        grid-row: 1 / span 3; 
        padding: 0;
    }
    .overlay-container{
        padding: 10px 25px;
    }
    .overlay-stripe-elements::before {
        right: 44px;
    }
} 

/* smallest window without sidebar */
@media screen and (max-width: 1175px) {
    .overlay-stripe-elements.sidebar-inactive{
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        row-gap: 0;
        column-gap: 10%;
    }
    .sidebar-inactive .select{
        margin-left: auto;
        display: flex;
    }
    .sidebar-inactive .exercise-name{
        margin-right: auto;
        display: flex;
    }
    .sidebar-inactive .select .exercise-type{
        padding-bottom: 10px;
    }
    .sidebar-inactive .btn-time-group {
        grid-column: span 2; 
    }
    .sidebar-inactive .collapsible{
        grid-column: 3; 
        grid-row: 1 / span 2; 
        padding: 0 5px;
    }
    .overlay-container{
        padding: 10px 60px;
    }
    .overlay-stripe-elements.sidebar-inactive::before {
        right: 53px;
    }
} 

@media screen and (max-width: 1000px) {
    .overlay-content {
        width: calc(100% - 70px);
    }
}

@media screen and (max-width: 880px) {
    .overlay-content {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .sidebar.active {
        z-index: 2;
        position: absolute;
    }
}

/* smaller window without sidebar */
/* @media screen and (max-width: 1430px) {
    .overlay-stripe-elements {
        background-color: #b41515;
    }
} */

.overlay-text {
    font-size: var(--font-size);
    color: var(--dark-background-font);
    padding: 20px;
    width: auto;
    text-align: center;
}

/* .exercise_form {
    display: flex; 
    justify-content: space-between;
    align-items: baseline;
} */

form {
    width: 100%;
}

.form-number {
    color: var(--dark-background-font);
}

.stripe-container {
    max-width: 950px;
    /* position:relative; */
    /* max-width: min-content; */
    width: 100%;
    display: grid;
    margin: 0 auto;
    /* grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)); */
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: center;
}

.stripe-container.database {
    max-width: none;
}

/* .stripe-container.active {
    opacity: 1;
    transform: translateY(0);
} */

.stripe-and-collapsible{
    /* max-width: min-content; */
    width: 100%;
    height: fit-content;
    display: grid;
    box-shadow: inset 0px 0px 6px 2px #000000d2;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.stripe-and-collapsible:hover {
    /* background: rgb(181 117 150 / 16%); */
    box-shadow: inset 0px 0px 6px 2px #000000d2;
}

.btn-add-or-remove-stripe {
    max-width:min-content;
    position: relative;
    display: grid;
    gap: 0px;
    margin-left: 10px;
}

 .btn-add-or-remove-stripe > * { /* children */
    background: none; 
    border: none; 
    padding: 0; 
    margin-bottom: 0px;
    margin-right: 0;
}

.btn-add-or-remove-stripe .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 200,
    'opsz' 20;
    margin: 0;
    padding: 0px 0px 0px 0px; 
    cursor: pointer;
}

.btn-add-stripe .material-symbols-outlined {
    color: #82a495f0;
}

.btn-add-stripe .material-symbols-outlined:hover {
    color: #105b3af0;
}

.btn-remove-stripe .material-symbols-outlined {
    color: #a16969fa
}

.btn-remove-stripe .material-symbols-outlined:hover {
    color: #6f0707fa
}

.routine_title {
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    background: linear-gradient(to bottom, #fefffe6b, 70%, #000000b7 );
}

.exercise-info {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: var(--font-size);
    color: rgba(247, 154, 41, 0.966); 
    padding: 10px;
}

.exercise-info p {
    margin-bottom: 5px; 
  }

.exercise-link {
    text-align: left;
    color: blue; 
    text-decoration: underline;
    font-size: var(--font-size);
}

.routine {
    display: block;
    max-width: none;
    /* width: auto; */
    height: auto;
}

.routine-table {
    border-collapse: separate;
    border-spacing: 1em 0.5em; 
}

.routine-table-container{
    display: grid;
    align-items: center;
    font-size: var(--font-size);
}

.routine-table td {
    white-space: nowrap;
    align-items: center;
}

.routine-table th {
    border-bottom: 1px solid #000; 
}

thead {
    /* background-color: #f2f2f2;  */
    /* color: #333;  */
    font-weight: bold; 
}

/* thead th {
    padding: 10px; 
    text-align: left; 
    border-bottom: 2px solid #ddd; 
} */


.guitar-image {
    width: 180px;
    height: auto;
    background: none; 
    bottom: -80px;
    right: -35px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.top-bar .logo-image {
    width: 80px;
}

.countdown-clock{
    font-size: 60px;
}