/* styles.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* { margin: 0; padding: 0; outline: 0; }
html,body {
    width: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}







:root {
    --top-bar-height: 50px; /* Define the top bar height here */
}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: var(--top-bar-height);
    overflow: hidden;
    align-items: center;
    background-color: #333;
    color: white;
    box-shadow: 0px 2px 5px rgba(157, 11, 11, 0.716);
    font-size: 13px;
    font-family: 'Mulish', sans-serif;
}

.top-bar img {
    width: 40px;
    height: auto;
    padding: 5px 20px;
}

.top-links {
    list-style: none;
    gap: 20px;
    display: flex;
    align-items: center;
    margin-right: auto;
    text-align: center;
}

.top-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px
}

.container {
    display: flex;
}

.sidebar {
    position: sticky;
    bottom: 0;
    min-height: calc(100vh - var(--top-bar-height));
    width: 230px;
    min-width: 230px;
    max-width: 230px; 
    background: linear-gradient(to bottom, #066967f9, #000a0af5);
    padding: 0px 15px;
    box-shadow: 2px 0px 5px #066967f9;
    overflow-y: auto;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 12px;
    font-family: 'Mulish', sans-serif;
    color: #999;
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn-sidebar {
    background-color: #f7f6f2c4;
    box-sizing: border-box;
    box-shadow: 2px 0px 5px #002b17f9;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold; 
    margin-top: 5px;
}

.btn-sidebar.rollout-options {
    background-color: #cdd3ccb9;
    margin-bottom: 3px;
    font-weight: normal; 
}

.btn-sidebar:hover {
    background-color: rgb(238, 236, 255);
}

.hidden {
    display: none;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height 0.5s ease-out;
}

.visible {
    max-height: 100px; 
    transition: max-height 1s ease-in;
}

#rolloutOptions {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 0;
}

#rolloutOptions.visible {
    max-height: 200px; 
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 40;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
}

.overlay-content{
    display:inline-block;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    /* background-color: rgb(255, 255, 255); */

    margin-left: 10px;
}

.content {
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    background-color: #38c7db2b;
    flex: 1; 
    padding: 20px;
    margin: 0;
    text-align: center;  /* Centers the text */
    width: auto;
    overflow: auto;
}

.center-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}

.motivation-text{
    padding: 10px;
}

.btn {
    font-family: 'Mulish', sans-serif;
    padding: 10px 20px; /* upper/lower margin and left/right margin*/
    cursor: pointer;
    border-radius: 10px;
}

.btn-user {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}

.save-stripe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px
}

.btn-save {
    padding: 5px;
    border: 0.2px solid black;
}

.btn-save:hover{
    background-color: rgba(149, 195, 179, 0.911);
}

.btn-user a {
    display: flex;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.btn-time {
    justify-content: flex-end;
    padding: 3px 3px;
    background-color: #efefef;
    transition: background-color 0.3s ease;
    border: 0.15px solid #4d4e4ec5;
    border-radius: 5px;
    margin-right: 2px;
    align-items: center;
    white-space: nowrap;
}

.btn-time-group {
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 10px;
    /* overflow: auto; */
}

.btn-time:hover {
    background-color: #ff5420;
}

.btn-time.selected {
    background-color:  #ff5420;
}

.btn-confirm {
    background: none; 
    border: none; 
    padding: 0; 
}

.btn-confirm .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 250,
    'GRAD' 0,
    'opsz' 20;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: baseline;
}

.input-container {
    display: flex;
    flex-direction: row;     
    justify-content: flex-start;
    margin-left: 0px;
    padding: 0px;
}

.collapsible-input-container {
    display: grid;
    align-items: center;
    margin-left: 0px;
    padding: 10px;
    overflow: hidden;
}

.collapsible-description,
.collapsible-link {
    display: flex;
    flex-direction: row; 
    justify-content: left;
    width: 100%;
    box-sizing: border-box;
    flex: 1;
    padding: 5px
}

textarea{
    max-height: 200px;
    box-sizing: border-box;
    resize: none;
}

.input-box.description{
    position: relative;
    flex: 1;
    min-height: 3em;
    max-height: 200px;
    resize: vertical;
    padding: 4px;
    border: 0.5px solid #000; 
    outline: none;
    font-family: 'Mulish', sans-serif;
    overflow-y: hidden;
}

.input-box.link{
    flex: 1;
    outline: none;
    font-family: 'Mulish', sans-serif;
}

.input-box,
.input-box-nr{
    width: auto; 
    border: none;
    border-bottom: 1px solid #000; 
    outline: none;
    font-family: 'Mulish', sans-serif;
}

.input-box.disabled {
    border-bottom: none;
}
.input-box.active {
    background-color: #fff5ee;
}

.input-box.empty {
    border: 2px solid #bd1212d6;
    border-bottom: 1px solid #bd1212d6; 
}
.input-box.disappear {
    border: 2px solid transparent;
    border-bottom: 1px solid;
    transition-property: border, border-color;
    transition-duration: 3s;
    transition-timing-function: ease;
}
.input-box.disappear.delayed {
    transition-delay: 1s;
}
.input-box.empty::placeholder {
    color: #c01b1bd6;
}


.input-box.valid-name{
    border: none;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    font-family: 'Mulish', sans-serif;
    text-align: left;
    font-weight: bold;
    padding: 2px;
    border: none;
    width: 115px;
    background-color: inherit;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 4px;   
}

.dropdown-button:hover {   
    background-color: #ff5420;
}

.dropdown-list {
    position: absolute;
    z-index: 2;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    overflow:visible;
}


.dropdown-item {
    position: relative;
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
    /* z-index: 2; */
}

.dropdown-item:hover {
    background-color: #ff5420;
}

.collapsible{
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.btn-collapsible{
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px; 
}

.collapsible .material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 350,
    'GRAD' 0,
    'opsz' 40;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: baseline;
}

.collapsible .material-symbols-outlined:hover{
    font-variation-settings:
    'FILL' 1,
    'wght' 350,
    'GRAD' 0,
    'opsz' 40;
}

.btn-collapsible.active .material-symbols-outlined{
    transform: rotate(180deg);
}

.collapsible.open .material-symbols-outlined {
    transform: rotate(180deg);
}

.collapsible-content {
    opacity: 0;
    max-height: 0;
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 0px;
    transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out; 
}

.collapsible-content.active {
    max-height: 280px;
    transition: max-height 0.8s ease-in-out, opacity 0.8s ease-in-out;
    opacity: 1;
    overflow: visible;
}

/* .collapsible.active + .collapsible-content {
    display: block;
} */

#timeInput{
    width: 40px; 
    margin-left: 4px;
}

.top-right {
    position: absolute;
    top: 50px;
    right: 10px;
}

#myChart {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}
.custom-dataset-label {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.chart-canvas {
    width: 50%;
    height: 50%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.overlay-container {
    display: grid;
    justify-content:flex-start;
    position: static;
    top: 0;
    height: auto;
    width: auto;
    background-color: rgba(255, 255, 255, 0.9); /* White with transparency */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* z-index: 1; */
    opacity: 0; /* Initially hidden */
    pointer-events: none; /* Not clickable */
    transition: opacity 2s ease; /* Smooth fade-in/fade-out */
    margin-top: 20px;
    /* overflow:auto; */
}

.overlay-container.active {
    opacity: 1; /* Display the overlay */
    pointer-events: auto; /* Make it clickable */
    padding: 10px 10px;
    /* z-index: 0; */
    /* width: auto; */
}

.overlay-stripe {
    width: auto;
    height: fit-content; 
    background: linear-gradient(to bottom,  #ffffff, 70%, #dce6e5b7 );
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0 0px 0 0px;   
    /* z-index: 1; */
    overflow:visible;
}

.overlay-text {
    font-size: 14px;
    color: black;
    padding: 20px;
    width: auto;
    text-align: center;
}

.stripe-container {
    width: auto;
    position:relative;
    display: inline-flex;
    align-items: center;
    /* z-index: 1; */
    /* transform: translateY(20px); */
    /* transition: opacity 2s ease, transform 2s ease; */
    overflow:visible;
}

/* .stripe-container.active {
    opacity: 1;
    transform: translateY(0);
} */

.stripe-and-collapsible{
    background-color: rgb(226, 226, 232);
    display: grid;
    box-shadow: 2px 0px 5px #9a9a9ad2;
    margin-top: 5px;
    margin-bottom: 5px;

}

.stripe-and-collapsible:hover {
    /* background-color: #a23535; */
    box-shadow: 2px 0px 5px #000000d2;
}

.btn-add-or-remove-stripe {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-left: 10px;
}

 .btn-add-or-remove-stripe > * { /* children */
    background: none; 
    border: none; 
    padding: 0; 
    margin-bottom: 0px;
    margin-right: 0;
}

.btn-add-or-remove-stripe .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 100,
    'GRAD' 200,
    'opsz' 20;
    margin: 0;
    padding: 0px 0px 0px 0px; 
    cursor: pointer;
}

.btn-add-stripe .material-symbols-outlined {
    color: #82a495f0;
}

.btn-add-stripe .material-symbols-outlined:hover {
    color: #105b3af0;
}

.btn-remove-stripe .material-symbols-outlined {
    color: #a16969fa
}

.btn-remove-stripe .material-symbols-outlined:hover {
    color: #6f0707fa
}

.routine_title {
    text-align: left;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding: 10px
}

.exercise-info {
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: 12px; 
    color: rgba(247, 154, 41, 0.966); 
    padding: 10px;
}

.exercise-info p {
    margin-bottom: 5px; 
  }

.exercise-link {
    text-align: left;
    color: blue; 
    text-decoration: underline;
    font-size: 12px; 
}

.routine {
    display: block;
    width: 300px;
    height: auto;
}
