{% extends "base.html" %}
{% load static %}

{% block content %}

{% if submitted %}
    Your routine was submitted successfully!

{% else %}
<div class="title-text-container">
    <div class="keyword text-box">{{ textContent.keywordAddRoutine}}</div>
    <div class="text-box">{{ textContent.titleAddRoutine }}</div>
    <div class="text-box">{{ textContent.newRoutineTitle }}</div>
</div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ exercise_formset.management_form }}
        <div class="overlay-content">
            <div id="overlayContainer" class="overlay-container">
                <p class="overlay-text">{{ textContent.newRoutineInstructions }}</p>
                <div class="input-container routine-name">
                    {{ routine_form.routine_name }}
                    <!-- <input class="input-box name" type="text" onclick="changeColor(this)" id="inputValue" placeholder="{{ textContent.inputRoutineNamePlaceholder }}"> -->
                    <button type=button class="btn btn-confirm" onclick="toggleInput(this)">
                        <span class="material-symbols-outlined">check</span>
                    </button>
                </div>
                {% for exercise_form in exercise_formset %}
                    <div class="exercise_form">
                        <div class="stripe-container stripe-{{ forloop.counter }}">
                            <div class="stripe-and-collapsible">
                                <div class="overlay-stripe">
                                        <div class="select">
                                            <label for="selectOption{{ forloop.counter }}"></label>
                                            <select id="selectOption{{ forloop.counter }}" name="selectOption{{ forloop.counter }}" >
                                                {% for option in stripeOptions %}
                                                    {% if forloop.counter == forloop.parentloop.counter %}
                                                        <option value="{{ option }}" class="dropdown-item" selected="selected">{{ option }}</option>
                                                    {% else %}
                                                        <option value="{{ option }}" class="dropdown-item">{{ option }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <!-- <button class="dropdown-button" id="dropdownButton{{ forloop.counter }}">{{ option }}
                                            <span class="material-symbols-outlined">expand_more</span>
                                        </button>
                                        <ul class="dropdown-list" id="dropdownList{{ forloop.counter }}">
                                            {% for option in textContent.stripeOptions %}
                                                <li class="dropdown-item" data-value="{{ option }}">{{ option }}</li>
                                            {% endfor %}
                                        </ul> -->

                                    <div class="input-container">
                                        {{ exercise_form.exercise_name }}
                                        <!-- <input class="input-box name" type="text" onclick="changeColor(this)" id="inputValue" placeholder="{{ textContent.inputPlaceholder }}"> -->
                                        <button type="button" class="btn btn-confirm" onclick="toggleInput(this)">
                                            <span class="material-symbols-outlined">check</span>
                                        </button>
                                    </div>
                                    <div class="btn-time-group">
                                        {% for radio in exercise_form.time %}
                                                {{ radio.errors }}
                                                {{ radio.tag }}
                                                <label for="{{ radio.id_for_label }}" class="btn btn-time">
                                                    <span class="time-number">{{ radio.choice_label }}</span>
                                                    <span class="unit">{{ textContent.timeUnit }}</span>
                                                </label>                                       
                                        {% endfor %}
                                        
                                        <!-- <input class="input-box-nr" type="number" id="timeInput" min="1" max="720" placeholder=" "> -->
                                            <!-- <button class="btn btn-confirm" onclick="confirmNumber()"> -->
                                                <!-- <span class="material-symbols-outlined">check</span> -->
                                            <!-- </button> -->
                                    </div>
                                    <div class="collapsible">
                                        <button type=button class="btn-collapsible">
                                            <span class="material-symbols-outlined">arrow_drop_down_circle</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="collapsible-content">
                                    <div class="collapsible-input-container">
                                        <div class="collapsible-description">
                                            {{ exercise_form.description }}
                                                <!-- <textarea data-autoresize rows="2" class="input-box description" oninput="addAutoResize()" type="text" id="inputValue" placeholder="{{ textContent.addDescription }}"></textarea> -->
                                                <button type=button class="btn btn-confirm" onclick="toggleInput(this)">
                                                    <span class="material-symbols-outlined">check</span>
                                                </button>
                                        </div>
                                        <div class="collapsible-link">
                                            {{ exercise_form.link }} 
                                                <button type=button class="btn btn-confirm" onclick="toggleInput(this)"> 
                                                    <span class="material-symbols-outlined">check</span>
                                                </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="btn-add-or-remove-stripe">
                                <button type="button" id="add-form" class="btn-add-stripe">
                                    <span class="material-symbols-outlined">add_box</span>
                                </button>
                                <button type="button" class="btn-remove-stripe">
                                    <span class="material-symbols-outlined">indeterminate_check_box</span>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="save-stripe">
                    <button type="submit" value="Submit" class="btn btn-save">{{ textContent.saveButton }}</button>
                </div>
            </div>
        </div>
    </form>
{% endif %}


<script>

    function addAutoResize() {
        document.querySelectorAll('[data-autoresize]').forEach(function (element) {
            element.style.boxSizing = 'border-box';
            var offset = element.offsetHeight - element.clientHeight;
            element.addEventListener('input', function (event) {
                event.target.style.height = 'auto';
                event.target.style.height = event.target.scrollHeight + offset + 'px';

                // Find and expand the parent stripe
                var stripe = event.target.closest('.collapsible-content');
                if (stripe) {
                    stripe.style.height = 'auto';
                    stripe.style.height = stripe.scrollHeight + 'px';
                }
            });
            element.removeAttribute('data-autoresize');
        });
    }

    function changeColor(inputBox) {
        inputBox.classList.add("active");
    }


    function toggleInput(button) {
        const inputBox = button.parentElement.querySelector(".input-box");
        if (inputBox.value.trim() == "") {
            inputBox.classList.add("empty")
            inputBox.classList.add("disappear")
            setTimeout(function() {
                inputBox.classList.remove("empty");
                inputBox.classList.remove("disappear");
            }, 3000);
        }else{
            if (inputBox.disabled) {
                inputBox.classList.remove("active");
                inputBox.disabled = false;
                button.classList.remove("disabled");
                inputBox.classList.remove("valid-name");
                button.innerHTML = '<span class="material-symbols-outlined">done</span>';
            }else{
                inputBox.disabled = true;
                inputBox.classList.remove("active");
                button.classList.add("disabled");
                inputBox.classList.add("valid-name")
                inputBox.classList.remove("empty")
                button.innerHTML = '<span class="material-symbols-outlined">edit</span>';
            }
        }
    }

   
</script>
<img src="{% static 'images/guitar_pic.png' %}" alt="Guitar image" class="guitar-image">

{% endblock %}
