{% extends "base.html" %}

{% block content %}
<p>Practice 40h/day.</p>
<p>Start the timer!</p>
<button id="startTimer" class="btn">Start Timer</button>
<span id="timerDisplay">0</span> seconds

<iframe src="https://guitarapp.com/metronome.html?embed=true&tempo=79&timeSignature=2&pattern=1&theme=dark" title="Online Metronome" style="width: 360px; height:520px; border-style: none; border-radius: 4px;"> </iframe>
<p>Metronome provided by <a href="https://www.guitarapp.com/metronome.html" target="_blank" rel="noopener">GuitarApp</a></p>
{% endblock %}
