{% extends "base.html" %}

{% block content %}
<div class="overlay-content">
    <p>{{ textContent.newRoutineTitle }}</p>
    <div id="overlayContainer" class="overlay-container active">
        <p class="overlay-text">{{ textContent.newRoutineInstructions }}</p>
        {% for option in textContent.stripeOptions %}
            <div class="stripe-container stripe-{{ forloop.counter }}">
                <div class="stripe-and-collapsible">
                    <div class="overlay-stripe">
                        <div class="custom-dropdown">
                            <button class="dropdown-button" id="dropdownButton{{ forloop.counter }}">{{ option }}
                                <span class="material-symbols-outlined">expand_more</span>
                            </button>
                            <ul class="dropdown-list" id="dropdownList{{ forloop.counter }}">
                                {% for option in textContent.stripeOptions %}
                                    <li class="dropdown-item" data-value="{{ option }}">{{ option }}</li>
                                {% endfor %}
                            </ul>
                        </div>                
                        <div class="input-container">
                            <input class="input-box name" type="text" onclick="changeColor(this)" id="inputValue" placeholder="{{ textContent.inputPlaceholder }}">
                            <button class="btn btn-confirm" onclick="toggleInput(this)">
                                <span class="material-symbols-outlined">check</span>
                            </button>
                        </div>
                        <div class="btn-time-group">
                            {% for time in textContent.timeValues %}
                                <button class="btn btn-time"  data-selected="false" onclick="toggleButtonColor(this)">{{ time }}</button>
                            {% endfor %}
                            <input class="input-box-nr" type="number" id="timeInput" min="1" max="720" placeholder=" ">
                                <button class="btn btn-confirm" onclick="confirmNumber()">
                                    <span class="material-symbols-outlined">check</span>
                                </button>
                        </div> 
                        <div class="collapsible">
                            <button class="btn-collapsible">
                                <span class="material-symbols-outlined">arrow_drop_down_circle</span>
                            </button>
                        </div>
                    </div>
                    
                    <div class="collapsible-content">
                        <div class="collapsible-input-container">
                            <div class="collapsible-description">
                                <textarea data-autoresize rows="2" class="input-box description" oninput="addAutoResize()" type="text" id="inputValue" placeholder="{{ textContent.addDescription }}"></textarea>
                                <button class="btn btn-confirm" onclick="toggleInput(this)">
                                    <span class="material-symbols-outlined">check</span>
                                </button>
                            </div>
                            <div class="collapsible-link">
                                <input class="input-box link" type="url" id="link" name="link" placeholder="{{ textContent.addLink}}">
                                <button class="btn btn-confirm" onclick="toggleInput(this)">
                                    <span class="material-symbols-outlined">check</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="btn-add-or-remove-stripe">
                    <button class="btn-add-stripe">
                        <span class="material-symbols-outlined">add_box</span>
                    </button>
                    <button class="btn-remove-stripe">
                        <span class="material-symbols-outlined">indeterminate_check_box</span>
                    </button>
                </div>
            </div>
        {% endfor %}
        <div class="save-stripe">
            <button class="btn btn-save" >
            <!-- <button class="btn btn-save" onclick="saveOverlayToDatabase()"> -->
                Save
            </button>
        </div>
    </div>
</div>


<script>
    function toggleButtonColor(button) {
        const stripe = button.closest('.overlay-stripe');
        const allButtons = stripe.querySelectorAll('.btn-time');
        const selectedButton = button;
        const isSelected = selectedButton.getAttribute('data-selected') === 'true';

        // Deselect all buttons
        allButtons.forEach(btn => {
            btn.setAttribute('data-selected', 'false');
            btn.classList.remove('selected');
        });

        // Select the clicked button
        if (!isSelected) {
            selectedButton.setAttribute('data-selected', 'true');
            selectedButton.classList.add('selected');
        }
    }

    function changeColor(inputBox) {
        inputBox.classList.add("active");
    }

    function toggleInput(button) {
        const inputBox = button.parentElement.querySelector(".input-box");
        if (inputBox.value.trim() == "") {
            inputBox.classList.add("empty")
            inputBox.classList.add("disappear")
            setTimeout(function() {
                inputBox.classList.remove("empty");
                inputBox.classList.remove("disappear");
            }, 3000);
        }else{
            if (inputBox.disabled) {
                inputBox.classList.remove("active");
                inputBox.disabled = false;
                button.classList.remove("disabled");
                inputBox.classList.remove("valid-name");
                button.innerHTML = '<span class="material-symbols-outlined">done</span>';
            }else{
                inputBox.disabled = true;
                inputBox.classList.remove("active");
                button.classList.add("disabled");
                inputBox.classList.add("valid-name")
                inputBox.classList.remove("empty")
                button.innerHTML = '<span class="material-symbols-outlined">edit</span>';
            }
        }
    }

    document.addEventListener("click", function(event) {
        const activeInputBox = document.querySelector(".input-box.active"); 
        if (activeInputBox) {
            if (event.target !== activeInputBox) {
                activeInputBox.classList.remove("active"); 
            }
        }
    });


    const overlayContainer = document.getElementById("overlayContainer");
    overlayContainer.addEventListener("keydown", function(event) {
        const target = event.target;

        // Check if the pressed key is "Enter"
        if ((event.key === "Enter" || event.keyCode === 13) && target.classList.contains("input-box") && target.classList.contains("name")){
            // Find the corresponding button element within the same stripe
            const stripe = target.closest(".stripe-container");
            // const button = stripe.querySelector(".btn-confirm");
            const button = target.nextElementSibling;
            if (button && button.classList.contains("btn-confirm")) {
                // Simulate a click on the button
                toggleInput(button);
            }
        }
    });

    function addAutoResize() {
        document.querySelectorAll('[data-autoresize]').forEach(function (element) {
            element.style.boxSizing = 'border-box';
            var offset = element.offsetHeight - element.clientHeight;
            element.addEventListener('input', function (event) {
                event.target.style.height = 'auto';
                event.target.style.height = event.target.scrollHeight + offset + 'px';

                // Find and expand the parent stripe
                var stripe = event.target.closest('.collapsible-content');
                if (stripe) {
                    stripe.style.height = 'auto';
                    stripe.style.height = stripe.scrollHeight + 'px';
                }
            });
            element.removeAttribute('data-autoresize');
        });
    }

   
   

</script>
{% endblock %}

<!-- 
// function saveOverlayToDatabase(data) {
    //     fetch('{% url "save_data" %}', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json',
    //             'X-CSRFToken': csrfToken, // Include CSRF token if required
    //         },
    //         body: JSON.stringify(data),
    //     })
    //     .then(response => response.json())
    //     .then(result => {
    //         if (result.success) {
    //             console.log('Data saved successfully');
    //         } else {
    //             console.error('Error saving data:', result.error);
    //         }
    //     })
    //     .catch(error => {
    //         console.error('Error:', error);
    //     });
    // } -->